### CS102 Assignment - Data Mining Using SQL (Movies dataset)

In [ ]:
%load_ext sql
%sql sqlite://
import pandas as pd

In [ ]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

In [ ]:
# Load movies dataset from CSV file into SQL table
with open('Movies.csv','rU') as f:
    Movies = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Movies;
%sql persist Movies

In [ ]:
%%sql
select * from Movies limit 15

In [ ]:
%%sql
select count(distinct TID) as numUsers,
       count(distinct item) as numMovies
from Movies

### <font color = 'green'>Frequent item-sets</font>

#### Mine for frequent item-sets of three and four items in the Movies dataset. Find a single support threshold where the number of frequent item-sets of three items is more than 10 but less than 20, and the number of frequent item-sets of four items is more than 0.

In [ ]:
support = INSERT VALUE HERE
print support

In [ ]:
%%sql
INSERT CODE FOR ITEM-SETS OF THREE HERE

In [ ]:
%%sql
INSERT CODE FOR ITEM-SETS OF FOUR HERE

### <font color = 'green'>Association rules - support and confidence</font>

#### Mine for association rules in the Movies dataset with three items on the left-hand side. Find support and confidence thresholds (need not be the same) so the number of association rules is more than 10 but less than 20.

In [ ]:
support = INSERT VALUE HERE
confidence = INSERT SAME OR DIFFERENT VALUE HERE
print support, confidence

In [ ]:
%%sql
drop table if exists Frequent;
INSERT CODE FOR CREATING FREQUENT TABLE WITH ITEM-SETS OF THREE HERE

In [ ]:
%%sql
INSERT CODE FOR ASSOCIATION RULES HERE

### <font color = 'green'>Association rules - support and lift</font>

#### Mine for association rules in the Movies dataset with three items on the left-hand side. Find support and lift thresholds so the number of association rules is more than 10 but less than 20.

In [ ]:
support = INSERT VALUE HERE
lift = INSERT VALUE HERE
print support, lift

In [ ]:
%%sql
drop table if exists ItemFreq;
INSERT CODE FOR CREATING TABLE WITH OVERALL FREQUENCY OF EACH ITEM

In [ ]:
%%sql
drop table if exists Frequent;
INSERT CODE FOR CREATING FREQUENT TABLE WITH ITEM-SETS OF THREE HERE

In [ ]:
%%sql
INSERT CODE FOR ASSOCIATION RULES HERE